!.gitignore

# Ignore all synthesis results
export/*
exports/*
reports/*

# Track .gitkeep files
!export/.gitkeep
!exports/.gitkeep
!reports/.gitkeep

# For some reason, there's an aes_128.postsyn.v inside inputs. This is a synthesis result and should not be tracked
inputs/aes_128.postsyn.v

workspace
ws*
